
body {
  margin: 0;
  font-family: Arial, sans-serif;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Imatge de fons difuminada */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: url("logoies436.png") no-repeat center center/cover;

  filter: blur(8px);
  transform: scale(1.1); /* evita vores blanques pel blur */

  z-index: -1;
}

