
body {
  margin: 0;
  font-family: Arial, sans-serif;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Imatge de fons difuminada */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
   url("logoies436.png") no-repeat center center/cover;

  filter: blur(8px);
  transform: scale(1.1); /* evita vores blanques pel blur */

  z-index: -1;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

/* Contenidor principal */
.container {
  max-width: 500px;
  margin: auto;
}

/* Botons més grans per a mòbil */
button {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* Estat actiu: botó verd */
button.active {
  background-color: #4CAF50 !important; /* verd */
  color: white !important;
}


/* Taula responsive */
table {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  word-break: break-word;
}


#reader {
  width: 100% !important;
  height: 50vh; /* abans 60vh */
  max-width: none;
  margin: 10px auto; /* menys marge */
}



/* Contenidor de taula */
.table-container {
  max-height: 50vh; /* ocupa la meitat de la pantalla */
  overflow-y: auto;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  padding: 10px;
}

/* Taula dins del contenidor */
#resultTable {
  width: 100%;
  border-collapse: collapse;
}

#resultTable th,
#resultTable td {
  padding: 8px;
  text-align: left;
  word-break: break-word;
}


button.delete-btn {
  background-color: #13ce70;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

button.delete-btn:hover {
  background-color: #4781b7;
}
